### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.idea
.venv
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
*.txt
*.bin

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

*.txt
### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
